<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERITAGE HUB</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/logo1.png" type="image/x-icon"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 flex items-center justify-center min-h-screen">
    <div class="w-50 h-full bg-zinc-900 p-10 text-white">

        <h1 class="text-3xl m-b ">Log In</h1>
        
        <form action="/user/login" method="post" class="mt-5 mb-2 flex create-form">
            <input class="px-5 py-2 border-2 rounded-lg ml-2 border-zinc-800 outline-none bg-transparent" type="text" placeholder="email" name="email">
            <input class="px-5 py-2 border-2 rounded-lg ml-2 border-zinc-800 outline-none bg-transparent" type="password" placeholder="password" name="password">
            <input class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Log In">
        </form>
        <h1 class="text-3xl m-b ">Register</h1>
        <form action="/user/register" method="post" class="mt-5 mb-2 flex create-form">
            <input class="px-5 py-2 border-2 rounded-lg ml-2 border-zinc-800 outline-none bg-transparent" type="text" placeholder="Name" name="name">
            <input class="px-5 py-2 border-2 rounded-lg ml-2 border-zinc-800 outline-none bg-transparent" type="text" placeholder="email" name="email">
            <input class="px-5 py-2 border-2 rounded-lg ml-2 border-zinc-800 outline-none bg-transparent" type="password" placeholder="password" name="password">
            <input class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Register">
        </form>
    </div>
</body>
